@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    background-color: #1e1d2b;}
/*-----------------------*/


/*-----------------------*/
.headi{
    display: block;
    position: relative;
    color: #ff702a;
    top:0.5vi;
    left: 5vw;
    font-size: 3vi;
    font-weight: 600;}
.home{
    display: block;
    position: absolute;
    color: #fff;
    top: 2vi;
    left: 50vw;
    font-size: 2vi;
    margin-top: 2vi;
    cursor: pointer;
    font-weight: 600;}
.about{
    display: block;
    position: absolute;
    color: #fff;
    top: 2vi;
    left: 59vw;
    font-size: 2vi;
    margin: 2vi 0vi;
    cursor: pointer;
    font-weight: 600;}
.menu{
    display: block;
    position: absolute;
    color: #fff;
    top: 2vi;
    left: 69vw;
    font-size: 2vi;
    margin-top: 2vi;
    cursor: pointer;
    font-weight: 600;}
.service{
    display: block;
    position: absolute;
    color: #fff;
    top: 2vi;
    left: 78vw;
    font-size: 2vi;
    margin-top: 2vi;
    cursor: pointer;
    font-weight: 600;}
.contact{
    display: block;
    position: absolute;
    color: #fff;
    top: 2vi;
    left: 90vw;
    font-size: 2vi;
    margin-top: 2vi;
    cursor: pointer;
    font-weight: 600;}
/*-----------------------*/


/*-----------------------*/
.title{
    font-weight: 100;
    display: block;
    position: absolute;
    color: #ff702a;
    left: 12vw;
    top: 11.5vi;
    font-size: 6vi;}
.subtitle{
    display: block;
    position: absolute;
    color: #fff;
    left: 12vw;
    top: 23.5vi;
    font-size: 2.2vi;
    font-weight: 600;}
.subtitle2{
    font-weight: 600;
    display: block;
    position: absolute;
    color: #fff;
    left: 12vw;
    top: 26vi;
    font-size: 2.2vi;}
.square{
    display: block;
    position: absolute;
    background-color: #ff702a;
    color: #fff;
    height: 2.5vi;
    width: 14vi;
    text-align: center;
    padding: 0.5vi;
    font-weight: 600;
    top: 32vi;
    left: 12vw;
    font-size: 1.8vi;
    cursor: pointer;}
.homa{
    display: block;
    position: absolute;
    right: 8vw;
    top: 13vi;
    width: 35vw;
    height: auto;}
/*-----------------------*/


/*-----------------------*/
.abouti{
    font-weight: 600;
    display: block;
    position: absolute;
    color: #ff702a;
    left:50vw;
    top: 63vi;
    font-size:2vi;}
.abouin{
    font-weight: 600;
    display: block;
    position: absolute;
    color: #ffffff;
    left: 50vw;
    top: 65vi;
    font-size: 4vi;
    width: 45vw;
    line-height: 4vi;}
.aboutimg{
    display: block;
    position: absolute;
    top: 65vi;
    width: 35vw;
    left: 12vw;}
.abou{
    font-weight: 600;
    display: block;
    position: absolute;
    color: #ffffff;
    left:50vw;
    top: 77vi;
    font-size: 1.7vi;
    width: 35vw;}
.learn{
    display: block;
    position: absolute;
    background-color: #ff702a;
    color: #fff;
    height: 3vi;
    width: 12vw;
    text-align: center;
    padding-top: 0.7%;
    padding-bottom: 0.45%;
    font-weight: 600;
    top: 83vi;
    left: 50vw;
    font-size: 1.7vi;
    cursor: pointer;}
/*-----------------------*/


/*-----------------------*/
.menuti{
    display: block;
    position: absolute;
    color: #ff702a;
    font-size: 2vi;
    top: 110vi;
    text-align: center;}
.descr{
    display: flex;
    position: absolute;
    font-weight: 600;
    color: #ffffff;
    top: 111vi;
    font-size: 3.5vi;
    left: 24.9vw;
    right: 24.9vw;
    justify-content: center;}  
.square1{
    background-color: #ffefe8;
    width: 20vw;
    top: 124vi; 
    height: auto;
    position: absolute;
    border: 10px double #1e1e1e;
    padding: 0.3vi;}
.menuname{
    font-weight: 600;
    margin-bottom: 0vi;
    text-align: center;
    margin-top: 13vi;
    font-size: 1.8vi;}
.tasty{
    font-weight: 600;
    margin-bottom: 0vi;
    text-align: center;
    margin-top: 0.5vi;
    font-size: 1.5vi;}
/*-----------------------*/


/*-----------------------*/
.services{
    top: 165vi;
    font-weight: 300;
    display: block;
    position: absolute;
    color: #ff702a;
    font-size: 2vi;}
.descrser{
    display: block;
    position: absolute;
    font-weight: 600;
    color: #ffffff;
    top: 167vi;
    font-size: 3.5vi;} 
.subtiser{
    display: block;
    position: absolute;
    color: #ff702a;
    font-size: 2.5vi;
    top: 190vi;
    margin-bottom: 0vi;}
.servinfo{
    font-weight: 600;
    display: block;
    position: relative;
    color: #ffffff;
    font-size: 1.6vi;
    top: 188vi;
    text-align: center;
    width: 29.68vw;
    margin-top: 0vi;}
/*-----------------------*/


/*-----------------------*/
