html{
    background-color: #D77A61;
}

.background{
    background-color: #DBD3D8;
    margin: 2vi;
    height:fit-content;
    justify-items: center;
}

#flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2vi;
}

.items{
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 180px;
    height: 90px;
    color: #223843;
    font-weight: 600;
    font-size: 20px;
    margin: 2vi;
    margin-right: 2vi;
    background-color: #EFF1F3;
    text-align: center;
    padding: 1vi;
}
.itemimg{
    margin-top: 15px;
    margin-left: 5px;
    width: 60px;
    height: 65px;
}
