html{
    background-color: #000000;
}

.grid-container{
    display: grid;
    margin: 3vi;
    gap: 2vi;
    color: #000000;
    grid-template-columns: auto auto;
    font-size: 3vi;
}
.item1{
    border: 2px transparent #0004ff;
    border-radius: 4vi;
    height: 29.5vi;
    width: 46vi;
}
.item2{
    border: 2px transparent #ff0000;
    border-radius: 4vi;
    height: 29.5vi;
    width: 46vi;
}
.item3{
    grid-row: 1/3;
    grid-column: 2/3;
    border: 2px transparent #262e24;
    border-radius: 4vi;
    height: 60.8vi;
    width: 44vi;
}
.item4{
    grid-column: 1/3;
    border: 2px transparent #00aeff;
    border-radius: 4vi;
    height: 52.2vi;
    width: 92.2vi;
}
