.square{
    color: #0A014F;
    background-color: #FAE8EB;
    border-radius: 25px;
    margin:2%;
    flex: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.5%;
    padding: 2%;
}
.paggen{
    background-color: #0A014F;
}
.square2{
    color: #0A014F;
    background-color: #CD9FCC;
    border-radius: 20px;
    text-align: center;
    flex: auto;
    border: 10px solid #CD9FCC;
}
